<div class ="body">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Here you can do your currency change</mat-card-title>
      <mat-card-subtitle><p>
        <mat-form-field appearance="standard">
          <mat-label>Amount</mat-label>
          <input matInput 
            [(ngModel)] = "price"
            name = "price"
            required>
        </mat-form-field>
    </p></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEBayFiYEsa82EfrBDeHGhRz07F0qt61UQCQ&usqp=CAU" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      From
      <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="currency1" name="currency1">
          <mat-option *ngFor="let currency1 of currencyList" [value]="currency1">
            {{currency1}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    To
    <mat-form-field appearance="fill">
      <mat-select [(ngModel)]="currency2" name="currency2">
        <mat-option *ngFor="let currency2 of currencyList" [value]="currency2">
          {{currency2}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button  mat-raised-button
            color = "primary"
            (click) = "change()">
            Change
            </button>
            <br>
  
            <p class="ans" *ngIf = "convert">The amount in {{currency2}} is: {{ans}}</p>
    </mat-card-actions>
  </mat-card>
  </div>