<h4 class="countryTitle">Countries By Region</h4>
<h5 class="countryExp">After looking for your country's data you can save the information for your customer</h5>
<mat-form-field appearance="fill">
  <mat-label>Choose a region</mat-label>
  <mat-select [(ngModel)] = region>
    <mat-option value="Africa">Africa</mat-option>
    <mat-option value="Americas" >Americas </mat-option>
    <mat-option value="Asia">Asia</mat-option>
    <mat-option value="Europe">Europe</mat-option>
    <mat-option value="Oceania">Oceania</mat-option>
  </mat-select>
</mat-form-field>





  <button mat-raised-button color="primary"  
  (click)="getCountries()">
  See countries</button>

<mat-accordion *ngIf = "seeAll">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let country of countries$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
           {{country.name}}
           <div class="pic">
          <img [src] = "country.flag" width="25px" height="25px">
        </div>
         
            
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Capital city: {{country.capital}}.</p>
      <button 
      (click)="seeCapital(country.capital)"
        class="btn-primary"
          >
          
         See more Information</button> 
    </mat-expansion-panel>
  </mat-accordion>

  <div class="card"  *ngIf = "seeCity">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{capital}}</mat-card-title>
      <mat-card-subtitle>{{name}}</mat-card-subtitle>
    </mat-card-header>
    <img [src] = "flag" height="250px" width="350px" >
    <mat-card-content>
      <p>
        Population: {{population}}
      </p>
      <p>
        Time zone:{{timezones}}
      </p>
      <p>
        Currency: {{currencies}}
      </p>
      <p>
        Language: {{languages}}
      </p>
      


      <form>
        
        <mat-form-field appearance="fill">
          <mat-label>Select Customer</mat-label>
          <mat-select [(ngModel)]="id" name="id">
            <mat-option *ngFor="let customer of customers" [value]="customer.id">
              {{customer.name}}
            </mat-option>
          </mat-select>
          <!--mat-form-field>
    <mat-label>Message</mat-label>
    <input matInput value="Details saved" #message>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Action</mat-label>
    <input matInput value="Yay!" #action>
  </mat-form-field-->
  
  
        </mat-form-field>
        <button mat-stroked-button (click)="openSnackBar();save()">Save</button>
      </form>

  