.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.whitelink {
  color:white;
  text-decoration:none;
  margin-left:5px; 
}

.whitelink2 {
  color:red;
  text-decoration:none;
  margin-left:200px;

}
.spacer {
  width:100%; 
}

.whitelink1 {
  color:white;
  text-decoration:none;
  margin-left:5px;
  cursor: pointer; 
}
.add {
  width:20%;
}

.spacer{
  width:100%;
}
