<div class="welcome">
    <p class="title">Global Mortgage Agency</p>
    <p class="exp"> This app helps you to manage your customers and predict</p> 
    <p class="exp2">their chances to get a mortgage </p> 
    
</div>

